{% extends 'base.html' %} {% block content %}
<div class="row text-center">
  <div class="col">
    <h1>Welcome tweetme</h1>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4 mx-auto col-10">
    <form class="form" id="tweet-create-form" method="POST" action="create-tweet/">
      {% csrf_token %}
      <div class="alert d-none alert-danger" id="tweet-create-form-error"></div>
      <input type="hidden" value="/" name="next" />
      <textarea required="required" class="form-control" name="content" placeholder="Your Tweet ...."></textarea>
      <button type="submit" class="btn btn-primary">
        Tweet
      </button>
    </form>
  </div>
</div>
<div class="row" id="tweets"></div>
<script>
  function handleTweetFormError(msg, display) {
    const myErrorDiv = document.getElementById("tweet-create-form-error");
    if (display === true) {
      myErrorDiv.setAttribute("class", "alert d-block alert-danger");
      myErrorDiv.innerHTML = msg;
    } else {
      myErrorDiv.setAttribute("class", "alert d-none alert-danger");
      myErrorDiv.innerHTML = "";
    }
  }

  function handleTweetCreateFormDidSubmit(event) {
    event.preventDefault(); // Prevent Form Submit via JavaScript
    myForm = event.target;
    const myFormData = new FormData(myForm);
    // check data inside the form
    // console.log(myFormData.entries(), "checking");
    // for (var myItem of myFormData.entries()) {
    //   console.log(myItem);
    // }
    // console.log(event, myform);
    const xhr = new XMLHttpRequest();
    const url = myForm.getAttribute("action");
    const method = myForm.getAttribute("method");
    const responseType = "json";
    xhr.response = "json";
    console.log(xhr.response);
    xhr.open(method, url);
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.onload = function () {
      // const newTweet = xhr.response;
      // console.log(serverResponse , xhr.status);
      if (xhr.status === 201) {
        handleTweetFormError("", false);
        const newTweet = xhr.response;
        const newTweetJson = JSON.parse(newTweet);
        // console.log(newTweetJson);
        // console.log(formatTweetElement(newTweetJson));
        const newTweentElement = formatTweetElement(newTweetJson);
        ogHtml = tweetContainerElement.innerHTML;
        tweetContainerElement.innerHTML = newTweentElement + ogHtml; // add reverse and new tweet will upoad at last
        myForm.reset(); //make form blank again
      } else if (xhr.status === 400) {
        //error form submittion
        const errorJson = JSON.parse(xhr.response);
        //console.log(errorJson,'errorJson')
        const contentError = errorJson.content;
        // console.log(contentError,'contentError')
        let contentErrorMsg;
        if (contentError) {
          // console.log('that worked')
          contentErrorMsg = contentError[0];

          handleTweetFormError(contentErrorMsg, true);
        } else {
          alert("an error occured. try again");
        }
        console.log(contentError, "contentError");
      } else if (xhr.status === 401) {
        //error on loging
        // const errorJson = xhr.response;
        // console.log(errorJson);
        alert("You must login");
        window.location.href = "/login";
      } else if (xhr.status === 403) {
        //error on loging
        // const errorJson = xhr.response;
        // console.log(errorJson);
        alert("You must login");
        window.location.href = "/login";
      } else if (xhr.status === 500) {
        //error on python code or server
        // const errorJson = xhr.response;
        // console.log(errorJson);
        alert("error on server");
      }
      // reloading all tweets again so no need to call or refresh home page for loading new tweets
      // var tweetsEL = document.getElementById("tweets");
      // loadTweets(tweetsEL);
    };
    xhr.onerror = function () {
      //for major error like server is not working
      alert("An unknown error occured");
    };
    xhr.send(myFormData);
  }

  var tweetContainerElement = document.getElementById("tweets");

  var tweetCreateFormEL = document.getElementById("tweet-create-form");

  tweetCreateFormEL.addEventListener("submit", handleTweetCreateFormDidSubmit);

  const loadTweets = function (tweetsElement) {
    // Get the all data with js sended by django url
    const method = "GET";
    const url = "/tweets";
    const responseType = "json";
    const xhr = new XMLHttpRequest();
    xhr.responseType = responseType;
    xhr.open(method, url);

    xhr.onload = function () {
      // const listedItems = xhr.response.response;
      const listedItems = xhr.response;
      var finalTweetStr = "";
      var i;
      for (i = 0; i < listedItems.length; i++) {
        var tweetObj = listedItems[i];
        var currentItem = formatTweetElement(tweetObj);
        finalTweetStr += currentItem;
      }
      tweetsElement.innerHTML = finalTweetStr;
    };
    xhr.send();
  };

  loadTweets(tweetContainerElement); //load the tweets

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function handleTweetActionBtn(tweet_id, currentCount, action) {
    console.log(tweet_id, currentCount);
    const csrftoken = getCookie('csrftoken');
    const method = 'POST'
    const url = 'api/tweets/action'
    const xhr = new XMLHttpRequest()
    const data = JSON.stringify({
      id: tweet_id,
      action: action
    })
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = function () {
      loadTweets(tweetContainerElement)
      console.log(xhr.status, xhr.response)
    }
    xhr.send(data)
    return;
  }

  function likeBtn(tweet) {
    return (
      "<button class = 'btn btn-primary' onclick = handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'like')>" +
      tweet.likes +
      " Like</button>"
    );
  }

  function UnlikeBtn(tweet) {
    return (
      "<button class = 'btn btn-outline-primary' onclick = handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'unlike')>unlike</button>"
    );
  }

  function ReTweetBtn(tweet) {
    return (
      "<button class = 'btn btn-outline-primary' onclick = handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'retweet')>Retweet</button>"
    );
  }

  function likeBtn(tweet) {
    return (
      "<button class = 'btn btn-primary' onclick = handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'like')>" +
      tweet.likes +
      " Like</button>"
    );
  }

  function formatTweetElement(tweet) {
    var formattedTweet =
      "<div class='mb-4 col-md-10 col-12 mx-auto py-3 border rounded' id='" +
      tweet.id +
      "'><p>" +
      tweet.content +
      "</p><div class = 'btn-group'>" +
      likeBtn(tweet) + UnlikeBtn(tweet) + ReTweetBtn(tweet) +
      "</div></div>";
    return formattedTweet;
  }
</script>
{%endblock content%}