{% extends 'base.html' %} {% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Welcome tweetme</h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 mx-auto col-10">
    <form
      class="form"
      id="tweet-create-form"
      method="POST"
      action="create-tweet/"
    >
      {% csrf_token %}
      <input type="hidden" value="/" name="next" />
      <textarea
        class="form-control"
        name="content"
        placeholder="Your Tweet ...."
      ></textarea>
      <button type="submit" class="btn btn-primary">
        Tweet
      </button>
    </form>
  </div>
</div>

<div class="row" id="tweets"></div>

<script>
  function handleTweetCreateFormDidSubmit(event) {
    event.preventDefault(); // Prevent Form Submit via JavaScript
    myForm = event.target;
    const myFormData = new FormData(myForm);
    // check data inside the form
    // console.log(myFormData.entries(), "checking");
    // for (var myItem of myFormData.entries()) {
    //   console.log(myItem);
    // }
    // console.log(event, myform);
    const url = myForm.getAttribute("action");
    const method = myForm.getAttribute("method");
    const xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.onload = function () {
      const serverResponse = xhr.response;
      // console.log(serverResponse);
      var tweetsEL = document.getElementById("tweets");
      loadTweets(tweetsEL);
    };
    xhr.send(myFormData);
  }

  var tweetsEL = document.getElementById("tweets");

  var tweetCreateFormEL = document.getElementById("tweet-create-form");

  tweetCreateFormEL.addEventListener("submit", handleTweetCreateFormDidSubmit);

  const loadTweets = function (tweetsElement) {
    // Get the data with js sended by django url
    const method = "GET";
    const url = "/tweets";
    const responseType = "json";
    const xhr = new XMLHttpRequest();
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function () {
      const listedItems = xhr.response.response;
      var finalTweetStr = "";
      var i;
      for (i = 0; i < listedItems.length; i++) {
        var tweetObj = listedItems[i];
        var currentItem = formatTweetElement(tweetObj);
        finalTweetStr += currentItem;
      }
      tweetsElement.innerHTML = finalTweetStr;
    };
    xhr.send();
  };

  loadTweets(tweetsEL);

  function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount);
    return;
  }

  function likeBtn(tweet) {
    return (
      "<button class = 'btn btn-primary' onclick = handleDidLike(" +
      tweet.id +
      "," +
      tweet.likes +
      ")>" +
      tweet.likes +
      " Like</button>"
    );
  }

  function formatTweetElement(tweet) {
    var formattedTweet =
      "<div class='mb-4 col-md-10 col-12 mx-auto py-3 border rounded' id='" +
      tweet.id +
      "'><p>" +
      tweet.content +
      "</p><div class = 'btn-group'>" +
      likeBtn(tweet) +
      "</div></div>";
    return formattedTweet;
  }
</script>
{%endblock content%}
